.splitter-2 {
    width: 2px;
    position: absolute;
    background-color: #ddd;
    left: 50%;
    top: 0px;
    bottom: 0px;
}

.chart_data {
    position: absolute;
    border-left:2px solid #ddd;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 50%;
    overflow-y: auto;
    background: white;
}

.chart_data.dark {
    background-color: #1c1c1c;
}

.chart_view {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left: 50%;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: white;
    z-index: 10;
}

.chart_view.dark {
    background-color: #1c1c1c;
}
.chart_view.dark h2 {
    color: #d5d5d5 !important;
}

#chart-content {
	position: absolute;
	left: 20px;
	right: 20px;
	top: 80px;
	bottom: 20px;
	width: 95%;
	height: 85%;
}
