/* Base */
section:not(:first-child) {
	margin-top: 50px;
}

section:first-child {
	margin-top: -25px;
}

section:last-child {
	margin-bottom: 75px;
}

/* Sentense */
p {
    font-family: "Noto Sans", "Nanum Gothic", "Dotum", "sans-serif";
	color: #666;
	font-size: 0.9em;
	line-height: 1.6em;
}

p.br {
	margin-top: 25px;
}

/* Header */
h1 {
	font-size: 32px;
	margin-top: -10px;
	margin-bottom: 0;
	color: #8772bf;
	font-weight: 500;
	border-bottom: 1px solid #eee;
	padding-bottom: 9px;
}

h2 {
	font-size: 24px;
	color: #2b3340;
	margin-top: 30px;
	font-weight: 400;
}

h3 {
	font-size: 18px;
	color: #666;
	margin-top: 30px;
	margin-bottom: 0px;
	font-weight: 400;
}

/* Tables */
table:not(.table):not(.xtable):not(.body) {
    font-family: "Noto Sans", "Nanum Gothic", "Dotum", "sans-serif";
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 1px solid #dcdcdc;
	 -webkit-border-radius: 2px;
	 -moz-border-radius: 2px;
	      border-radius: 2px;
	border-spacing: 0;
	border-collapse: collapse;
}
table:not(.table):not(.xtable):not(.body) {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
table:not(.table):not(.xtable):not(.body) tr:nth-child(odd) {
	background-color:#fafafa;
}
table:not(.table):not(.xtable):not(.body) tr:nth-child(even) {
	background-color:#ffffff;
}
table:not(.table):not(.xtable):not(.body) td {
	vertical-align: middle;
	border: 1px solid #dcdcdc;
	border-width: 0px 1px 1px 0px;
	text-align: left;
	padding: 10px;
	font-weight: normal;
	font-size: 12px;
	color: #000000;
}
table:not(.table):not(.xtable):not(.body) tr:last-child td{
	border-width: 0px 1px 0px 0px;
}
table:not(.table):not(.xtable):not(.body) tr td:last-child{
	border-width: 0px 0px 1px 0px;
}
table:not(.table):not(.xtable):not(.body) tr:last-child td:last-child{
	border-width: 0px 0px 0px 0px;
}
table:not(.table):not(.xtable):not(.body) tr:first-child td{
	background-color: #f5f5f5;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
}

/* Dark */
body.dark {
	background-color: #1c1c1c;
}
body.dark .col {
	color: #666 !important;
}
body.dark h2 {
	color: #d5d5d5 !important;
}

body.dark table:not(.table):not(.xtable):not(.body) tr:first-child td {
	color: #fff !important;
}

body.dark table:not(.table):not(.xtable):not(.body) td {
	color: #666 !important;
	border: 1px solid #666 !important;
}

body.dark table:not(.table):not(.xtable):not(.body) tr:nth-child(odd),
body.dark table:not(.table):not(.xtable):not(.body) tr:first-child td {
	background-color: #2c2c2c !important;
}

body.dark table:not(.table):not(.xtable):not(.body) tr:nth-child(even) {
	background-color: #262626 !important;
}