
.gallery-container {
    margin: 0 auto;
    margin-top:100px;
    width: 90%;
    max-width:980px;
}

.gallery-list {
    display:flex;
    flex-flow:row wrap;
}

.gallery-list .item {
    flex:1 0 50%;
    position:relative;
    height:350px;
    padding:10px;
    box-sizing:border-box;
}

.item .wrap {
    height: 100%;
    width:100%;
    border:1px solid black;
    box-sizing:border-box;
    position:relative;

    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.22);
    border: 1px solid #ddd;
    border-radius: 3px;
    display: block;

    cursor:pointer;


}

.item .header {
    position:absolute;
    top:0px;
    left:0px;
    z-index:1000;
    display:none;
    right:0px;
    height: 40px;
    padding:10px;
    box-sizing: border-box;
    border-bottom:1px solid #ddd;
}

.item .footer {
    position:absolute;
    bottom:0px;
    left:0px;
    right:0px;
    height: 40px;
    padding:10px;
    box-sizing: border-box;
    border-top:1px solid #ddd;
}

.item .body {
    position: absolute;
    top:0px;
    bottom:40px;
    left:0px;
    right:0px;
}

.item .body iframe {
    position:relative;
    box-sizing: border-box;
    border:0px;

    width:300%;
    height:300%;
    transform: translate3d(0, 0, 0) scale(0.333333);
    transform-origin: top left;
    transition: opacity 0.4s ease;

}

.item .body a {
    position:absolute;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;

}