body {
    padding: 10px;
}

.row.main {
	margin-bottom: 30px;
}

.row.main:first-child {
	margin-top: 30px;
}

.h4 {
	font-size: 16px !important;
	text-decoration: overline;
	color: #333;
	font-weight: bold !important;
	font-family: Caslon540BT-Regular,Times,New Roman,serif,jennifer;
}

.h4.demo {
	margin-bottom: 30px;
}

.col.line {
	border-right: 1px dashed #dcdcdc;
}

#joining_chart {
	margin-top: 30px;
}
