body {
    background-color: black;
	margin: 0;
	padding: 0;
	text-align: center;
}

.background {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0) 40%),
		linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0) 40%),
		url("../../gallery/gps/resources/image/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#radar {
	margin-top: -60px;
	z-index: 3;
}

.title {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 2;
	color: #fff;
	padding-top: 60px;
}
.title > .date {
	font-size: 16px;
	opacity: 0.5
}
.title > .time {
	font-size: 60px;
	font-weight: 100;
	margin-top: -10px;
}

.copyright {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 20px;
	z-index: 2;
	color: #888;
	font-size: 12px;
}

.card {
	background: rgba(255, 255, 255, 0.05);
}
.layer {
	position: absolute;
	width: 300px;
	z-index: 2;
	text-align: left;
	color: #fff;
}

.left-1 {
	left: 20px;
	top: 60px;
	height: 254px;
	padding-left: 20px;
}
.left-1 > .city {
	font-size: 32px;
	font-weight: 100;
}
.left-1 > .city > .weather {
	width: 24px;
	height: 24px;
	margin-top: 5px;
}
.left-1 > .location {
	font-size: 14px;
	opacity: 0.5;
	margin-top: 5px;
}
.left-1 > .temp {
	font-size: 60px;
	font-weight: 100;
	margin-top: 30px;
}
.left-1 > .temp > sup {
	font-size: 36px;
}

.left-2 {
	position: relative;
	left: 20px;
	top: 270px;
	height: 57px;
}
.left-2 > div {
	position: absolute;
	top: 18px;
}
.left-2 > div > img {
	width: 23px;
	height: 23px;
	margin-bottom: -5px;
}
.left-2 > div > span {
	font-size: 14px;
	margin-top: -10px;
}
.left-2 > div.sunrise {
	left: 20px;
}
.left-2 > div.sunset {
	left: 122px;
}
.left-2 > div.drop {
	left: 226px;
}

.left-3 {
	left: 20px;
	top: 334px;
	height: 273px;
}
.left-4 {
	left: 20px;
	top: 614px;
	height: 201px;
}

.right-1 {
	right: 20px;
	height: 168px;
	top: 20px;
}

.right-2 {
	right: 20px;
	height: 138px;
	top: 195px;
}

.right-3 {
	right: 20px;
	height: 474px;
	top: 341px;
}
.right-3 > #flight_name {
	position: absolute;
	font-size: 24px;
	left: 10px;
	top: 25px;
}
.right-3 > .info {
	padding-left: 20px;
	padding-right: 20px;
}
.right-3 > .info > div {
	margin: 7px 0;
}
.right-3 > .info > div.line {
	height: 1px;
	background: #fff;
	opacity: 0.2;
}
.right-3 > .info > div > .type {
	font-size: 12px;
}
.right-3 > .info > div > .value {
	float: right;
	font-size: 14px;
	font-weight: bold;
}
