body {
    background-color: black;
	margin: 0;
	padding: 0;
	text-align: center;
}

.background {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0) 40%),
		linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0) 40%),
		url("../../gallery/gps/resources/image/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.card {
	background: #fff;
	opacity: 0.05;
}

.left-1, .left-2, .left-3, .left-4 {
	position: absolute;
	left: 20px;
	width: 300px;
	z-index: 2;
}
.left-1 {
	top: 60px;
	height: 254px;
}
.left-2 {
	bottom: 510px;
	height: 57px;
}
.left-3 {
	bottom: 229px;
	height: 273px;
}
.left-4 {
	bottom: 20px;
	height: 201px;
}

.right-1, .right-2, .right-3 {
	position: absolute;
	right: 20px;
	width: 300px;
	z-index: 2;
}

.right-1 {
	height: 168px;
	bottom: 648px;
}

.right-2 {
	height: 138px;
	bottom: 502px;
}

.right-3 {
	height: 474px;
	bottom: 20px;
}
