body {
    padding: 10px;
}

.panel > .body {
    padding: 0 !important;
}

.panel > .xtable {
    border-bottom: 1px solid #dcdcdc;
}

#tooltip {
    position: absolute;
    width: 220px;
    display: none;
}

#tooltip .value {
    text-align: right;
}