@media screen and (max-device-width: 700px) {
	.header a {
		display: none;
	}
	.header span {
		position: absolute;
		display: block;
		right: 55px;
		top: 20px;
	}
	.header #sidemenu {
		position: absolute;
		display: block;
		right: 15px;
		top: 20px;
		font-size: 22px;
		color: white;
	}

	body.menu-open .menu {
		right: 0px;
	}
	.menu {
		display: block !important;
		position: fixed !important;
		left: auto !important;
		right: -250px;
		top: 0px !important;
		bottom: 0px !important;
		background: #28303d !important;
		color: #ffffff !important;
		-webkit-transition: all 0.3s ease !important;
		-moz-transition: all 0.3s ease !important;
		-o-transition: all 0.3s ease !important;
		transition: all 0.3s ease !important;
		z-index: 99999 !important;
		width: 200px !important;
	}
	.menu a {
		padding-top: 7px !important;
		padding-bottom: 7px !important;
		font-size: 0.85em !important;
	}
	.menu .submenu {
		padding: 5px 0px !important;
	}
	.menu .submenu li {
		padding: 3px 10px !important;
	}
	.menu .submenu li a {
		font-size: 0.8em !important;
	}

	.content {
		left: 0px !important;
	}
	.content .chart_data {
		display: none;
	}
	.content .chart_view {
		left: 0%;
		width: 100%;
	}
	.content .chart_view #chart-content-title {
		display: none;
	}
	.content .chart_view #chart-content {
		top: 20px !important;
	}
	.content .splitter {
		display: none;
	}
}