.home {
    padding: 30px 0;
}

.home p {
    font-size: 12px;
    color: #8a8a8a;
    text-align: center;
    margin: 14px 0;
    line-height: 1.6em;
}

.home .col {
    padding-right: 20px;
}

.home .col:last-child {
    padding-right: 0px !important;
}

.home section {
    padding-bottom: 60px;
}

.home section:last-child {
    padding-bottom: 0px !important;
}

.home .title {
    text-align: center;
}

.home .img {
    display: inline-block;
    background-image: url("../img/home.png");
    background-repeat: no-repeat;
    width: 198px;
    height: 22px;
}

.home .img.icon {
    width: 116px !important;
    height: 116px !important;
}

.home .img-col-1 {
    background-position: 0 0;
}
.home .img-col-1-msg {
    background-position: 0 -322px;
}

.home .img-col-2 {
    background-position: -116px 0;
}
.home .img-col-2-msg {
    background-position: 0 -344px;
}

.home .img-col-3 {
    background-position: -232px 0;
}
.home .img-col-3-msg {
    background-position: 0 -366px;
}

.home .img-col-4 {
    background-position: -348px 0;
}
.home .img-col-4-msg {
    background-position: 0 -388px;
}

.home .img-col-5 {
    background-position: -464px 0;
}
.home .img-col-5-msg {
    background-position: 0 -410px;
}

.home .img-col-6 {
    background-position: -580px 0;
}
.home .img-col-6-msg {
    background-position: 0 -432px;
}

.home .img.icon {
    margin-bottom: 16px;
}

.home .row.row-line {
    height: 0px;
    background-color: #eaeaea;
    margin: 22px 0;
}