section {
    margin-bottom: 100px;
}

section.not_bottom {
    margin-bottom: 0px;
}

h1 {
    margin-top: 0px;
}

h3 {
    margin-bottom: 0px;
}

p {
    margin-top: 12px;
}

#paging_1 {
    margin: 0;
}

.tab-contents {
    display: none;
    padding-top: 12px;
}

.tab-contents .msg {
    background-color: #dcdcdc;
}

#modal {
    display: none;
    width: 400px;
    height: 250px;
}

#table_2 .col-lg-3 {
    float: left;
    width: 25% !important;
}

#table_2 tbody tr {
    cursor: pointer;
}

#table_5 thead tr, #table_6 thead tr {
    cursor: pointer;
}


/* Summernote Styles */

.CodeMirror {
    font-size: 11px;
    font-family: "Noto Sans", "sans-serif", "Dotum";
    max-height: 100%;
    height: 100%;
}
.CodeMirror-scroll {
    overflow: hidden;
}

#chart-modal .modal-dialog {
    width: 100%;
}

#chart-modal .modal-body {
    position: relative;
    height: 450px;
}

#chart-modal .chart_data {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 10px;
    width: 300px;
    overflow-y: auto;
}

#chart-modal .chart_view {
    overflow: hidden;
    position: absolute;
    left: 305px;
    top: 0px;
    bottom: 0px;
    right: 10px;
    background-color: white;
    z-index: 10;
}

#chart-modal .chart_view > #chart-content {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
}

#chart-modal .modal-footer {
    margin-top: 0px;
}

#chart-modal .splitter {
    width: 5px;
    position: absolute;
    background-color: #ddd;
    left: 300px;
    top: 0px;
    bottom: 0px;
}